
.newSmurfForm {
    margin-bottom: 40px;
}

.inputField {
    max-width: 100px;
    margin-right: 20px;
    text-align: center;
    padding: 5px 5px;
    border: 2px inset lightgray;
}

.newSmurfForm-Btn {
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}