.AddSmurf {
	height: 100px;

	display: flex;
	justify-content: center;
}

.AddSmurfButtonContainer {
	height: 75px;

	display: inherit;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.AddSmurfButton {
	width: 100px;
}

.VillageRow {
	display: inherit;
	flex-direction: row;
	justify-content: center;
}

.VillagePicture {
	animation: VillagePicture-spin infinite 30s linear;
	height: 30px;
}

@keyframes VillagePicture-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.IsAddingSmurf {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.CancelAddSmurfButton {
	width: 100px;

	text-align: center;

	margin-bottom: 10px;
}

.InputForm {
	display: inherit;
	flex-direction: inherit;
	align-items: center;
}

.InputForm__inputs {
	display: inherit;
	flex-direction: row;
}

.AddSmurfInput {
	margin-left: 1px;
	margin-right: 1px;

	width: 160px;

	text-align: center;
}

.AddSmurfConfirmButton {
	width: 100px;

	text-align: center;

	margin-top: 10px;
}
