.AddSmurf {
	height: 150px;

	display: flex;
	justify-content: center;
}

.AddSmurfButton {
	width: 100px;
}

.IsAddingSmurf {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.CancelAddSmurfButton {
	width: 100px;

	text-align: center;

	margin-bottom: 10px;
}

.InputForm {
	display: inherit;
	flex-direction: inherit;
	align-items: center;
}

.AddSmurfInput {
	margin-top: 1px;
	margin-bottom: 1px;

	text-align: center;
}

.AddSmurfConfirmButton {
	width: 100px;

	text-align: center;

	margin-top: 10px;
}

.AddSmurfButtonContainer {
	height: 23px;
}
