.App {
  display: flex;
  flex-direction: column;
}

.TopStatusBar {
  height: 75px;

  margin-top: 4px;

  display: flex;
  flex-direction: column;
}

.TopStatusBarButtons {
  height: 18px;

  display: inherit;
  flex-direction: row;
  justify-content: space-between;
}

.DeleteVillageButton {
  width: 35px;

  margin-left: 7px;
}

.EditVillageButton {
  width: 35px;

  margin-right: 7px;
}

.ShowSmurfs {
  display: inherit;
  flex-direction: inherit;
}

.Smurfs {
  display: inherit;
  flex-direction: row;
  justify-content: center;
}

.LoadingPicture {
  animation: LoadingPicture-spin infinite 5s linear;
  height: 300px;
}

@keyframes LoadingPicture-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.BottomBar {
  display: inherit;
  justify-content: flex-end;
}
