.Smurfs {
  margin-bottom: 20px;

  padding-left: 100px;
  padding-right: 100px;

  text-align: center;

  display: flex;
  flex-flow: row wrap;
}

.SmurfContainer {
  width: 350px;
  height: 300px;

  display: inherit;
  justify-content: center;
  align-items: center;
}

.NoSmurf {
  margin-top: 32px;
}
