input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.NewSmurf {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 225px;
  max-width: 500px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 30px;
  background-color: lightgreen;
  color: salmon;
}

.NewSmurf__Input {
  margin: 0 10%;
  padding: 3px;
  border: 1px solid black;
  text-indent: 45%;
  transition: .5s;
}

.NewSmurf__Input:focus {
  text-indent: 3%;
}

.NewSmurf__Button {
  width: 100%;
  max-width: 100px;
  margin: 10px auto;
  padding: 3px;
}