.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.smurf {
  border: 1px solid black;
  width: 60%;
  margin: 0 auto;
  background-color: #88ccff;
  color: white;
  font-size: 1.2rem;
  text-shadow: 0px 0px 1px black;
  margin-top: 10px;
}
