.App {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
}

.smurfs-container { 
  display: flex;
  flex-flow: wrap;
  margin: 0 20px;
}

.smurf-container { 
  margin: 10px;
  padding: 20px 40px;;
  border: 1px solid black;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 30%;
}

.delete-button {
  font-size: 13px;
  width: 100%;
  margin: 5px 0;
}

.edit-button {
  font-size: 13px;
  width: 100%;
  margin: 5px 0;
}

.save-button {
  font-size: 13px;
  width: 100%;
  margin: 5px 0;
}

.edit-form {
  width: 100%;
}

.edit-field {
  font-size: 13px;
  margin: 5px 0;
}

.add-form {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

.add-field.form-control{
  font-size: 13px;
  width: 25%;
}

.add-button {
  font-size: 13px;
}


