.App {
  text-align: center;
}

/* Baby smurf blue, hex code #62cdfd 
   Smurf blue: #88CCFF */

.smurfData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #62cdfd;
  border-radius: 10%;
  /* background-color: papayawhip; */
  background-color: #88ccff;
  height: 100px;
  width: 150px;
  margin: 25px;
}

.smurfName {
  font-size: larger;
}