.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.smurfForm {
  margin: 2rem 0;
  height: 6rem;
  padding-top: 1.5rem;
  padding-left: 15rem;
  border: 1px solid lightgrey;
}

.delete-button {
  margin-bottom: 2rem;
}