.App {
  text-align: center;
}
body {
  background: url('smurfvillage.png');
}
.App-header {
  padding: 20px;
  color: red;
}

h3 {
  font-size: 1.0em;
  margin-top: -50px;
}
.App-title {
  font-size: 4.5em;
}

.smurf-list {
  border: 1px solid black;
  width: 300px;
  margin: auto;
  background: white;
}
