form {
    margin-top: 30px;
    width: 100%;
}

input {
    margin: 0px 1.7% 0px 1.7%;
    font-size: 15px;
    border-radius: 5px;
}

input::placeholder {
    text-align: center;
}

button {
    display: block;
    font-size: 20px;
    border-radius: 10px; 
    margin: 30px 0px 0px 42%;
    width: 17%;
    height: 50px;
    background-color: #88CCFF;
    border: 2px solid gray;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: #88CCFF;
}