.smurf-form {

  background-color: lightgreen;
  width: 500px;
  margin: 20px auto;
  border-radius: 5px;
  border: 1px solid black;
  padding: 10px;

  input {

    margin: 5px 2.5px;
    padding: 5px;

  }

  button {

    margin-top: 2.5px;

  }

}
