li {
    list-style: none;
}

/* ul {
    border: solid 1px silver;
    width: 250px;
    margin: 10px;
    text-align: center;
    padding: 5px;
} */

.smurf {
    border: solid 1px silver;
    width: 250px;
    margin: 10px;
    text-align: center;
    padding: 5px;  
}