.smurfForm {
  border: 1px solid grey;
  border-radius: 15px;
  box-shadow: 5px 10px 18px #888888;
  margin: 20px auto;
  max-width: 300px;
  padding: 10px 0;
}

.smurfForm_inputFields {
  border-top: 2px solid grey;
  display: flex;
  flex-flow: column;
  margin: 0 auto 5px;
  max-width: 200px;
  padding-top: 5px;
}

.smurfForm_inputFields input {
  border: 1px solid grey;
  border-radius: 3px;
  margin: 2px;
  text-align: center;
}

.smurfForm_inputFields input:nth-child(2) {
  text-indent: 10px;
}

.smurfForm_button {
  border: 1px solid grey;
  border-radius: 3px;
}