.home{
    display:flex;
}


.smurfWrapper{
    display:flex;
    flex-direction:column;
}

.smurf{
    display:flex;
}
.smurfHeader{
    font-size:2.3rem;
    font-weight:bold;    
}
.smurfText{
    font-size:2rem;
}