.App {
  text-align: center;
  max-width: 600px;
  border: 1px solid lightslategray;
  margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  padding: 0 10%;
  height: 40px;
}

.nav li{
  display: flex;
}

.nav li a{
  text-decoration: none;
 
}