.App {
  margin: 0 auto;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}

.smurf-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.smurf-card {
  border: 1px solid black;
  width: 150px;
  height: 150px;
  margin: 20px;
}

.trash-container {
  display: flex;
  justify-content: space-between;
}

.trash {
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}

.edit {
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

.edit-smurf-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.edit-smurf-form input {
  margin: 5px 0;
}

.edit-smurf-form button {
  margin-top: 8px;
  cursor: pointer;
}
